<?xml version='1.0' encoding='utf-8'?>
<plugin id="tw.com.bais.swiftact" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>swiftact</name>
    <js-module name="swiftact" src="www/swiftact.js">
        <clobbers target="swiftact" />
    </js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="swiftact">
				<param name="ios-package" value="swiftact" />
			</feature>
		</config-file>
		<source-file src="src/ios/swiftact.swift" />
	</platform>
</plugin>
