<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugins-echoswift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ModusSwift</name>
    <js-module name="ModusSwift" src="www/ModusSwift.js">
        <clobbers target="ModusSwift" />
    </js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ModusSwift">
				<param name="ios-package" value="ModusSwift" />
			</feature>
		</config-file>
		<source-file src="src/ios/ModusSwift.swift" />
	</platform>
</plugin>
